<header class="header">
    <div class="container-horizontal">
        <a class="header-logo" href="/">Connectum</a>
        <nav class="header-nav">
            <form action="/friends/search?_method=SEARCH" class="header-nav-search" method="POST" >
                <button class="header-nav-btn"><img src="/src/img/search.svg" alt=""></button>
                <input type="text" placeholder="Search" name="friends">
            </form>
            <div class="header-nav-btn" data-hidden-container>
                <img src="/src/img/bell.svg" alt="">
                <div class="header-nav-btn-container" data-child-hidden-container>
                    <div class="friend-requests">
                        <% if (typeof user != undefined && user.friendsRequests.length > 0) { %>
                            <% user.friendsRequests.forEach(request => { %>
                                <div class="friend-request">
                                    <input type="hidden" name="receiverId" value="<%= user.id %>" data-friend-receiver>
                                    <input type="hidden" name="senderId" value="<%= request.id %>" data-friend-sender>
                                    <div class="friend-request-info">
                                        <div class="friend-request-image-container">
                                            <img src="<%= request.profileImage %>" alt="">
                                        </div>
                                        <div class="friend-request-data">
                                            <div><%= request.firstName %></div>
                                            <div><%= request.lastName %></div>
                                        </div>
                                    </div>
                                    <div class="friend-request-buttons">
                                        <button class="btn-add-friend hover-effect" data-accept-request>Accept</button>
                                        <button class="btn-add-friend hover-effect" data-reject-request>Reject</button>
                                    </div>
                                </div>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="header-nav-btn" data-hidden-container>
                <img src="/src/img/gear.svg" alt="">
                <div class="header-nav-btn-container" data-child-hidden-container>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit" class="hover-effect">Logout</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>