<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script type="text/javascript" defer src="/scripts/script.js"></script>
        <script type="text/javascript" defer src="/scripts/components.js"></script>
        <script type="text/javascript" defer src="/scripts/sendRequest.js"></script>
        <script type="text/javascript" defer src="/scripts/socket/friends.js"></script>
    </head>
<body>
    <%- include ('../partials/_header.ejs') %> 
    <%- include ('../partials/_side-navs.ejs') %> 
    <div class="container-content">
        <% if (users.length > 0) { %>
            <% if (searchField == '') { %>
                <h2 class="page-header">All people</h2>
            <% } else { %>
                <h2 class="page-header">Results for "<%= searchField %>"</h2>
            <% } %>
            <div class="friends-container">
                <% users.forEach(users => { %>
                    <a class="friend-container" href="/friends/view/<%= users.id %>">
                        <div class="friend-container-img"><img src="<%= users.profileImage %>" alt=""></div>
                        <div class="friend-container-info">
                            <div class="friend-container-name"><%= users.firstName %>  <%= users.lastName %></div>
                            <div class="friend-container-data">3 common friends</div>
                        </div>
                        <div class="send-friend-request" data-send-friend-request-form>
                            <input type="hidden" name="receiverId" value="<%= users.id %>" data-friend-receiver>
                            <input type="hidden" name="senderId" value="<%= user.id %>" data-friend-sender>
                            <button class="form-submit btn-add-friend" data-send-friend-request-button>Add</button>
                        </div>
                    </a>
                <% }) %>
            </div>
        <% }  else { %> 
            <h2 class="page-header">No results for "<%= searchField %> "</h2>
        <% } %>    
    </div>
</body>
</html>