<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
    </script>
    <script type="text/javascript" defer src="/scripts/script.js"></script>
    <script type="text/javascript" defer src="/scripts/components.js"></script>
    <script type="text/javascript" defer src="/scripts/sendRequest.js"></script>
    <script type="text/javascript" defer src="/scripts/socket/friends.js"></script>
</head>
<body>
    <%- include ('../partials/_header.ejs') %> 
    <%- include ('../partials/_side-navs.ejs') %>   
    <div class="container-content">
        <h2 class="page-header"><%= friend.firstName %> <%= friend.lastName %>'s profile</h2>
        <div class="profile-container">
            <div class="profile-left">
                <div class=".friend-container-img ">
                    <img src="<%= friend.profileImage %>" alt="">
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-data">
                    <div class="profile-container-row">
                        <div class="profile-container-label">First Name: </div>
                        <div class="profile-container-value"><%= friend.firstName %></div>
                    </div>
                    <div class="profile-container-row">
                        <div class="profile-container-label">Last Name: </div>
                        <div class="profile-container-value"><%= friend.lastName %></div>
                    </div>
                    <div class="profile-container-row">
                        <div class="profile-container-label">Birthdate: </div>
                        <div class="profile-container-value"><%= friend.birthDate.toISOString().slice(0, 10).split('-').join('.') %></div>
                    </div>
                    <div class="profile-container-row">
                        <div class="profile-container-label">Gender: </div>
                        <div class="profile-container-value"><%= friend.gender %></div>
                    </div>
                    <div class="profile-container-info">
                        <%= friend.info %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>