<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Messages</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script type="text/javascript" defer src="/scripts/script.js"></script>
        <script type="text/javascript" defer src="/scripts/components.js"></script>
        <script type="text/javascript" defer src="/scripts/sendRequest.js"></script>
        <script type="text/javascript" defer src="/scripts/socket/friends.js"></script>
    </head>
<body class="no-scroll">
    <%- include ('../partials/_header.ejs') %> 
    <%- include ('../partials/_side-navs.ejs') %> 
    <div class="container-content">
        <div class="chat-person-header white-card">
            <div class="chat-person-img">
                <img src="<%= friend.profileImage %>" alt="">
            </div>
            <div class="chat-person-info">
                <div class="chat-person-name"><%= friend.firstName %> <%= friend.lastName %></div>
                <div class="chat-person-online"><%= friend.lastSeen %></div>
            </div>
        </div>
        <div class="white-card chat-container">
            <div class="message">
                <div class="message-text">Hi</div>
                <div class="message-time">20:21</div>
            </div>
            <div class="message">
                <div class="message-text">How are you?</div>
                <div class="message-time">20:21</div>
            </div>
            <div class="message">
                <div class="message-text">It is a time since we had seen each other</div>
                <div class="message-time">20:21</div>
            </div>
            <div class="message message-right">
                <div class="message-text">I know</div>
                <div class="message-time">20:21</div>
            </div>
        </div>
        <div class="chat-send-container white-card">
            <input type="text" placeholder="Your message">
            <button><img src="/src/img/send.svg" alt=""></button>
        </div>
        <input type="hidden" value="<%= friend.id %>" id="friendid">
    </div>
</body>
</html>