<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Messages</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script type="text/javascript" defer src="/scripts/script.js"></script>
        <script type="text/javascript" defer src="/scripts/components.js"></script>
        <script type="text/javascript" defer src="/scripts/sendRequest.js"></script>
        <script type="text/javascript" defer src="/scripts/socket/friends.js"></script>
        <script type="text/javascript" defer src="/scripts/socket/messages.js"></script>
        
    </head>
<body class="no-scroll">
    <%- include ('../partials/_header.ejs') %> 
    <%- include ('../partials/_side-navs.ejs') %> 
    <div class="container-content">
        <div class="chat-person-header white-card">
            <div class="chat-person-img">
                <img src="<%= friend.profileImage %>" alt="">
            </div>
            <div class="chat-person-info">
                <div class="chat-person-name"><%= friend.firstName %> <%= friend.lastName %></div>
                <div class="chat-person-online"><%= friend.lastSeen %></div>
            </div>
        </div>
        <div class="white-card chat-container" data-chat-container>
            <% if (messages != null) { %>
                <% messages.forEach(message => { %>
                    <div class="message <%= (message.from !== friend.id) ? 'message-right' : '' %>">
                        <div class="message-text"><%= message.body %></div>
                        <div class="message-time"><%= `${(new Date(message.time)).toTimeString().substr(0,5)}` %> </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
        <div class="chat-send-container white-card">
            <div data-is-typing class="chat-is-typing hidden"><%= friend.firstName %>  is typing...</div>
            <input data-send-message-container type="text" placeholder="Your message">
            <button data-send-message-btn><img src="/src/img/send.svg" alt=""></button>
        </div>
        <input type="hidden" value="<%= friend.id %>" id="friendid">
        <input type="hidden" value="<%= roomId %>" id="roomId">
    </div>
</body>
</html>