<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Messages</title>
        <link rel="stylesheet" href="/styles/styles.css">
        <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
        <script type="text/javascript" defer src="/scripts/script.js"></script>
        <script type="text/javascript" defer src="/scripts/components.js"></script>
        <script type="text/javascript" defer src="/scripts/sendRequest.js"></script>
        <script type="text/javascript" defer src="/scripts/socket/friends.js"></script>
    </head>
<body>
    <%- include ('../partials/_header.ejs') %> 
    <%- include ('../partials/_side-navs.ejs') %> 
    <div class="container-content">
        <div class="messages-search">
            <img src="/src/img/search-black.svg" alt="search">
            <input type="text" placeholder="Search">
        </div>
        <div class="messages-people">
            <% if (friends.length > 0) { %>
                <% friends.forEach(friend => { %>
                    <a href="/messages/<%= friend.id %>">
                        <div class="messages-person">
                            <div class="messages-person-info">
                                <div class="messages-person-img">
                                    <img src="<%= friend.profileImage %>" alt="">
                                </div>
                                <div class="messages-person-data">
                                    <div class="messages-person-name"><%= friend.firstName %> <%= friend.lastName %> </div>
                                    <div class="messages-person-message">Hi!</div>
                                </div>
                            </div>
                            <div class="messages-person-time">12:23</div>
                        </div>
                    </a>
                <% }) %>
            <% } else { %>
                <h2>Seeming you have no friends, find some!</h2>
            <% }%>
        </div>
    </div>
</body>
</html>